:root {
    --bs-primary: #b5651d;
    --bs-primary-rgb: 181, 101, 29;
    --bs-primary-dark: #5c3a21;
    --bs-primary-dark-rgb: 92, 58, 33;
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #b5651d;
    --bs-btn-border-color: #b5651d;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #5c3a21;
    --bs-btn-hover-border-color: #5c3a21;
    --bs-btn-focus-shadow-rgb: 181, 101, 29;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #5c3a21;
    --bs-btn-active-border-color: #5c3a21;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #5c3a21;
    --bs-btn-disabled-border-color: #5c3a21;
}

.btn-outline-primary {
    --bs-btn-color: #b5651d;
    --bs-btn-border-color: #b5651d;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #b5651d;
    --bs-btn-hover-border-color: #b5651d;
    --bs-btn-focus-shadow-rgb: 181, 101, 29;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #b5651d;
    --bs-btn-active-border-color: #b5651d;
    --bs-btn-disabled-color: #b5651d;
    --bs-btn-disabled-border-color: #b5651d;
}

.navbar {
    --bs-navbar-active-color: rgba(var(--bs-emphasis-color-rgb), 1);
    --bs-navbar-padding-x: 0.1rem;
    --bs-navbar-padding-y: 0;
    --bs-navbar-brand-color: white;
    --bs-navbar-brand-hover-color: white;
}

.navbar-nav {
    --bs-nav-link-padding-x: 0;
    --bs-nav-link-padding-y: 1rem;
    --bs-nav-link-color: white;
    --bs-nav-link-hover-color: white;
}
